<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Result rate from <%= @option %> with <%= @amount %></h4>
       <p>
           <%= @option1 %>&nbsp;&nbsp<%= @rate %> </br>
       </p>
  </body>
</html>
