<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @convert.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @convert.price %>
</p>

<%= link_to 'Edit', edit_convert_path(@convert) %> |
<%= link_to 'Back', converts_path %>
